<div class="container content">
  <div class="row">
    <div class="col-md-4">
      hola
    </div>
    <div class="col-md-4">
      mundo
    </div>
    <div class="col-md-4">
      bootstrap
    </div>
  </div>
</div>
