<div class="container content">
  <div class="row">
    <h1>
      {{title}} <!-- pone el titulo del proyecto -->
    </h1>
  </div>
  <app-lista-destinos></app-lista-destinos> <!-- Estoy haciendo referencia al componente destino viaje ts selector -->

</div>
